
.page {

    margin: 0 auto;
    font-family: "Inter", sans-serif;
}


.typography {
    font-family: "inter", sans-serif;
    font-style: normal;
    color: black;
    text-decoration: none;
    margin: 0;
}


.header {
    position: relative;
     display: flex;
     align-items: center;
     height: 100%;
     background-color: antiquewhite;
     width: 100%;
     padding: 160px 0 160px 90px;
     height: 400px;
    
    }
    
    .my-flex-box {
     margin-left: -0px;
     flex: 0 1 auto;
     

    }
    
    .main-illustration {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    
    
    }
    
    .subtitle {
    position: absolute;
    bottom: 30px;
    left: 64px;


    line-height: 25px;
    font-size: 18px;
    font-weight: normal;

    }


    .header__main_logo_place_header {
        position: absolute;
        top: 30px;
        left: 64px;
        align-items: center;
    }

    
    .title {
        font-style: normal;
        font-weight: 600;
        font-size: 102px;
        line-height: 110px;
        letter-spacing: -0,04em;
        width: 50%;
    
        position: absolute;
        left: 64px;
        align-items: center;
        display: flex;
    }

    .square-pic {
        width: 500px;
        height: 500px;
        background:  #2f80ed;  
        position: absolute;
        top: 60px;
        right: 0;  
    }

    .link {
        color: #2f80ed;

    }

    .two-columns {

    }

    .brief {

    }

    .main-text {

    }

    .paragraph {

    }

    .two-columns {

    }